@charset "utf-8";

/* 
z-index 정의
레이아웃 = 20 / 컨텐츠 = 10이하 / 팝업 = 50 / 로딩창 = 100
*/

/* reset */
*:not(.oz_ui_layout), *:before, *:after{box-sizing:border-box;word-break:keep-all;word-wrap:break-word}
html,body {height:100%;}
body, h1, h2, h3, h4, h5, h6, fieldset, ul, ol, dl, dt, dd, p, button, figure, xmp {margin:0;padding:0;}
body {font:normal 15px/1.5 'SpoqaHan', 'sans-serif';height:100%;color:#111;word-break:keep-all;-webkit-touch-callout:none;box-sizing:border-box;-webkit-text-size-adjust:none;text-size-adjust:none;}
legend, caption {overflow:hidden;width:1px;height:1px;color:transparent;}
a {text-decoration:none;color:inherit;}
a[href^="tel"] {cursor:default;}
fieldset, button {background:none;border:0px;}
li {list-style:none;}
table {width:100%;border-spacing:0px;border-collapse:collapse;}
caption {font-size:0;line-height:0}
iframe {width:100%;vertical-align:middle;border:0 none;}
button, input, optgroup, select, textarea {font:inherit;} 
button {cursor:pointer;}
h1, h2, h3, h4, h5, h6 {font-weight:700;-webkit-font-smoothing:subpixel-antialiased;}
input, select, textarea {-webkit-appearance:none;-moz-appearance:none;appearance:none;-webkit-border-radius:0;border-radius:0;}
b, strong {font-weight:700;}
em {font-style:inherit;}
sup {line-height:0}
select, textarea, input{-webkit-appearance:none;-moz-appearance:none;appearance:none;-webkit-border-radius:0;border-radius:0;}
input:-internal-autofill-previewed, input:-internal-autofill-selected {background-color:white !important;box-shadow:0 0 0 52px rgb(255,255,255) inset}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {-webkit-appearance:none;margin:0;}

/*skipNavi*/
/* #skipNavi {position:relative;display:none}
#skipNavi a{display:block;position:absolute;left:0;top:-300px;width:300px;text-align:center;color:#fff;background:#000;z-index:200;}
#skipNavi a:focus, #skipNavi a:hover{top:0px;} */

::-ms-clear{display:none}


/*common*/
.blind{position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;margin-left:-1px;overflow:hidden;color:transparent;border:0 none;background:transparent;}
.hide{display:none}
.show{display:block}

/*color*/
.fc_red{color:#DA1D1D !important}
.fc_purple{color:#6A44BF !important}
.fc_blue{color:#476EFF !important}
.fc_black{color:#000 !important}

/*size*/
.fz_12{font-size:12px !important}
.fz_13{font-size:13px !important}
.fz_14{font-size:14px !important}
.fz_15{font-size:15px !important}
.fz_16{font-size:16px !important}
.fz_17{font-size:17px !important}
.fz_18{font-size:18px !important}
.fz_17{font-size:17px !important}
.fz_18{font-size:18px !important}

/* weight */
.fw_300{font-weight:300 !important}
.fw_500{font-weight:500 !important}
.fw_700{font-weight:700 !important}
.fw_900{font-weight:900 !important}

/*align*/
.taC {text-align:center !important}
.taL {text-align:left !important}
.taR {text-align:right !important}

/*말줄임 - 1줄*/
.shortening{display:block;overflow:hidden;width:100%;text-overflow:ellipsis;white-space:nowrap}

/* text */
.txt_alert{font-size:14px;line-height:20px}
.txt_alert:before{display:inline-block;content:'';width:16px;height:16px;margin-right:10px;background:url(../images/common/ic_txtalert_red.svg) no-repeat center/14px;vertical-align:middle}
.txt_alert.red{color:#DA1D1D}
.txt_alert.red:before{background:url(../images/common/ic_txtalert_red.svg) no-repeat center/14px;}

/* txtList */
p.txt_dot, ul.txt_dot > li{position:relative;padding-left:10px;font-size:14px;line-height:20px;color:#888}
p.txt_dot:before, ul.txt_dot > li:before{content:'';position:absolute;top:8px;left:0;width:4px;height:4px;background:#888;border-radius:100%}
p.txt_dash, ul.txt_dash > li{position:relative;padding-left:10px;font-size:14px;line-height:20px;color:#888}
p.txt_dash:before, ul.txt_dash > li:before{content:'';position:absolute;top:8px;left:0;width:4px;height:1px;background:#888}
p.txt_dash.ty2, ul.txt_dash.ty2 > li{color:#666}
p.txt_dash.ty2:before, ul.txt_dash.ty2 > li:before{background:#666}
ul.txt_dot > li, ul.txt_dash > li{margin-top:8px}

/* description list */
.tit_h3 + .dl_list{margin-top:24px}
.dl_list, .dl_list > div{overflow:hidden}
.dl_list > .line{margin-top:16px;padding-top:16px;border-top:1px solid #eee}
.dl_list dt:first-of-type, .dl_list dd:first-of-type{padding-top:0}
.dl_list dt{float:left;padding-top:12px;font-size:14px;line-height:20px;color:#666}
.dl_list dd{float:right;padding-top:12px;font-size:14px;line-height:20px;color:#000}
.dl_list dd + dt{clear:both}
.dl_list.ty2 dt, .dl_list.ty2 dd{color:#000}
.dl_list.ty3 dt, .dl_list.ty3 dd{font-size:16px;line-height:22px;color:#000}
.box_line .dl_list dt, .box_line .dl_list dd{font-size:16px;line-height:22px}


/* box */
.bdr_t{padding-top:16px;border-top:1px solid #ccc}
.box_gray{position:relative;padding:32px 24px;background:#f8f8f8}

/* list */
.box_line{}
.box_line > li, div.box_line{border:1px solid #eee;border-radius:8px}
div.box_line + div.box_line{margin-top:12px}
.box_line > li + li{margin-top:16px}
.box_line.lim20 > li + li{margin-top:20px}
.box_line .box_info{padding:20px 20px}
.box_info .price{overflow:hidden;margin-top:20px;border-top:1px solid #eee}
.box_info .price dt:first-of-type, .box_info .price dd:first-of-type{padding-top:16px}
.box_info .price dt{float:left;padding-top:8px;font-size:16px;line-height:22px}
.box_info .price dd{float:right;padding-top:8px;font-size:16px;line-height:22px}
.box_info .price dd + dt{clear:both}
.box_info .price.ty2 dt, .box_info .price.ty2 dd{font-size:14px;line-height:20px}
.box_info .txt_alert{margin-top:24px}
.box_info .btn_wrap{margin-top:8px !important}
.box_info .train_info .date_area .date{font-size:14px;line-height:20px}
.ticket_num{font-size:0}
.ticket_num .number{display:inline-block;margin-left:8px;font-size:14px;line-height:20px;color:#888;vertical-align:middle}
.ticket_num + .train_info{margin-top:20px}
.train_info .date{display:inline-block;font-size:16px;line-height:22px}
.train_info .date_area{display:flex;justify-content:space-between;align-items:center}
.train_info .date_area .date{font-size:14px;line-height:20px}
.train_info .date_area .num{font-size:14px;line-height:20px;color:#888}
.train_info .date_area + .train_item{margin-top:16px}
.train_info span.date + .train_item{margin-top:20px}
.train_item{}
.train_item + .train_item{margin-top:16px;padding-top:16px;border-top:1px dashed #eee}
.train_item .train_station{margin-top:10px;font-size:0}
.train_item .train_station span{display:inline-block;position:relative;font-size:18px;line-height:26px;vertical-align:middle}
.train_item .train_station span + span{margin-left:26px}
.train_item .train_station span + span:before{content:'';position:absolute;top:0;left:-22px;width:18px;height:22px;background:url(../images/common/ico_train_arr.svg) no-repeat 0 0/18px 16px}
.train_item .txt{margin-top:4px;font-size:14px;line-height:20px;color:#888}
.train_num{font-size:0}
.train_num .num{display:inline-block;font-size:14px;line-height:20px;color:#888;vertical-align:middle;}
.train_num .badge + .num{margin-left:4px;}

.line_list{}
.line_list > li{padding:21px 0;border-top:1px solid #eee}
.line_list > li:last-child{border-bottom:1px solid #eee}
.line_list.ty2 >li:first-child{border-top:0}
.line_list.ty2 > li{padding:32px 0}

/* ticket */
.ticket_box{position:relative;overflow:hidden;border-radius:12px}
.ticket_box + .ticket_box{margin-top:24px}
.ticket_box.srt .ticket_top{background:linear-gradient(90deg, rgba(97,71,143,1) 0%, rgba(103,55,96,1) 90%)}
.ticket_box.ktx .ticket_top{background:linear-gradient(90deg, rgba(0,129,195,1) 0%, rgba(0,101,179,1) 90%)}
.ticket_box:after{display:block;content:'';width:100%;height:24px;animation:animateBackground 4s linear infinite forwards}
.ticket_box.srt:after{background:#70135E url(../images/common/ticket_logo_srt.svg) repeat-x center/46px 9px}
.ticket_box.ktx:after{background:#0065B3 url(../images/common/ticket_logo_ktx.svg) repeat-x center/46px 9px;}
.ticket_top{display:flex;justify-content:space-between;align-items:center;padding:11px 16px 9px;color:#fff}
.ticket_top .date{font-size:14px;line-height:20px;font-weight:700;}
.ticket_top .num{font-size:14px;line-height:20px}
.ticket_cont{padding:16px 16px;border:solid #EAEAEA;border-width:0 1px 0}
.ticket_info{position:relative}
.ticket_info:before{content:'';position:absolute;top:0;left:50%;transform:translateX(-50%)}
.ticket_info:before, .ticket_info:after{content:'';position:absolute;top:0;width:14px;height:36px;background:no-repeat center/14px 36px}
.ticket_info:before{left:-10px;background-image:url(../images/common/ticket_line_left.svg)}
.ticket_info:after{right:-17px;background-image:url(../images/common/ticket_line_right.svg)}
.ticket_info .ticket_detail:first-child{padding-top:58px}
.ticket_info .ticket_detail:first-child:before{top:18px;width:calc(100% - 14px);margin-top:0;padding:0 10px;}
.ticket_detail{position:relative;margin-top:24px;padding-top:24px}
.ticket_detail:before{content:'';position:absolute;top:0;left:50%;transform:translateX(-50%);width:100%;border-top:1px dashed #eee}

@keyframes animateBackground {
    form{background-position:left 50%}
    to{background-position:left 50%}
}


/* icon */
.ico{display:inline-block;overflow:hidden;background:center no-repeat;font-size:1px;color:transparent;vertical-align:middle}
.ico_20{width:20px;height:20px;background-size:20px}
.ico_48{width:48px;height:48px;background-size:48px}
.ico_48.change{background-image:url(../images/common/btn_change.svg)}
.ico_48.change_w{background-image:url(../images/common/btn_change_w.svg)}
.ico_80{width:80px;height:80px}
.ico_80.error{background-image:url(../images/common/ico80_error.svg);background-size:60px 60px}


/* badge */
.badge{display:inline-block;padding:6px 10px 4px;border-radius:2px;font-size:12px;line-height:16px;font-weight:700;vertical-align:middle}
.badge.blue{background:#eaecf5;color:#3048A2}
.badge.purple{background:#f0ecf8;color:#6A44BF}
.badge.lightblue{background:#e5f1f6;color:#0073AE}
.badge.gray{background:#e7e9ee;color:#3D4964}
.badge.black{background:#000;color:#fff}
.badge.min{padding:3px 5px;font-size:10px;line-height:10px}


/*checkbox/radio*/
.checkbox, .radio{display:inline-block;position:relative;;vertical-align:middle;line-height:1;cursor:pointer}
.checkbox input, .radio input{position:absolute;left:0;top:0;width:32px;height:32px;z-index:1;margin:0;padding:0;opacity:0}
.checkbox input + i, .radio input + i{display:inline-block;position:relative;margin:0;width:32px;height:32px;vertical-align:middle}
.checkbox input + i:before{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:24px;height:24px;background:#fff;border:1px solid #CCC;border-radius:50%;box-sizing:border-box}
.checkbox input + i:after{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%, -50%) rotateZ(-45deg);width:11px;height:7px;margin-top:-1px;border:solid #ccc;border-width:0 0 2px 2px}
.checkbox input:focus + i, .radio input:focus + i{outline:1px solid #476EFF}
.checkbox input:checked + i:before{background:#476EFF;border-color:#476EFF}
.checkbox input:checked + i:after{border-color:#fff}
.checkbox input:disabled + i:before{background:#eee !important;border-color:#ccc !important}
.checkbox input:disabled + i:after{border-color:#ccc !important}
.checkbox span, .radio span{margin-left:4px;font-size:14px;line-height:20px;vertical-align:middle}
.checkbox.ty2 input + i:before{content:none}
.checkbox.ty2 input + i:after{border-color:#aaa}
.checkbox.ty2 input:checked + i:after{border-color:#476EFF}
.radio input + i:before{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:24px;height:24px;background:#fff;border:1px solid #CCC;border-radius:50%;box-sizing:border-box}
.radio input + i:after{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%, -50%) rotateZ(-45deg);width:10px;height:10px;background:#ccc;border-radius:50%}
.radio input:checked + i:before{background:#476EFF;border-color:#476EFF}
.radio input:checked + i:after{background:#fff}
.radio input:disabled + i:before{background:#eee !important;border-color:#ccc !important}
.radio input:disabled + i:after{background:#ccc !important}
.chk_seat{display:inline-block;position:relative;;vertical-align:middle;line-height:1;cursor:pointer}
.chk_seat input{position:absolute;left:0;top:0;width:48px;height:48px;z-index:1;margin:0;padding:0;opacity:0}
.chk_seat input + span, .seat_item{display:inline-block;position:relative;width:48px;height:48px;font-size:12px;line-height:48px;font-weight:700;color:#000;text-align:center}
.chk_seat input:checked + span, .seat_item.on{color:#fff}
.chk_seat input:disabled + span, .seat_item.disabled{color:#ccc}
.chk_seat.ty1 input + span, .seat_item.ty1{background:url(../images/common/train_seat_ty1.svg) no-repeat 0 0/48px}
.chk_seat.ty1 input:checked + span, .seat_item.ty1.on{background:url(../images/common/train_seat_ty1_on.svg) no-repeat 0 0/48px}
.chk_seat.ty1 input:disabled + span, .seat_item.ty1.disabled{background:url(../images/common/train_seat_ty1_disable.svg) no-repeat 0 0/48px}
.chk_seat.ty2 input + span, .seat_item.ty2{background:url(../images/common/train_seat_ty2.svg) no-repeat 0 0/48px}
.chk_seat.ty2 input:checked + span, .seat_item.ty2.on{background:url(../images/common/train_seat_ty2_on.svg) no-repeat 0 0/48px}
.chk_seat.ty2 input:disabled + span, .seat_item.ty2.disabled{background:url(../images/common/train_seat_ty2_disabled.svg) no-repeat 0 0/48px}
.seat_area{display:flex;overflow-x:scroll;margin:0 -24px;padding:0 24px}
.seat_area .chk_seat + .chk_seat{margin-left:16px}
.counter_item{display:flex;align-items:center}
.counter_item > .num{width:20px;margin:0 10px;background:transparent;border:0;font-size:14px;line-height:20px;font-weight:700;color:#000;text-align:center}

/*button*/
.btn_wrap{width:100%;text-align:center}
.btn_wrap.flex{display:flex;justify-content:space-between}
.btn_wrap.flex > .btn{flex:1}
.btn_wrap.flex > .btn + .btn{margin-left:8px}
.btn_wrap.flex.type2, .btn_wrap.flex.type2 >.btn {margin:0}
.btn_wrap.flex.type2 >.btn{border-radius:0}
.btn_wrap.btm_fixed{background:linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 90%, rgba(255,255,255,0) 100%)}
.btm_fixed {position:fixed;bottom:0;left:0;right:0;z-index:50;margin-top:0 !important;padding:16px 16px}
.btn{display:inline-block;overflow:hidden;position:relative;width:auto;height:48px;padding:0 16px;border:1px solid transparent;font-size:16px;font-weight:700;line-height:48px;border-radius:4px;text-align:center;vertical-align:middle;white-space:nowrap;text-decoration:none;box-sizing:border-box}
.btn.min{min-width:56px;height:40px;padding:0 6px;font-size:12px;line-height:12px}
.btn.blue{background:#476EFF;border-color:#476EFF;color:#fff}
.btn.gray{background:#EFF0F5;border-color:#EFF0F5;color:#494F60}
.btn.navy{background:#383B5A;border-color:#383B5A;color:#fff}
.btn.end{height:26px;line-height:26px;background:#000;border-color:#000;border-radius:2px;font-size:12px;color:#fff}
.btn.blue.disabled, .btn.blue:disabled {background:#D0DAE6 !important;border-color:#D0DAE6 !important;color:#91A1B2 !important}
.btn.gray.disabled, .btn.gray:disabled {background:#EFF0F5 !important;border-color:#EFF0F5 !important;color:#B8BBC5 !important}
.btn.h40{height:40px;line-height:40px}
.btn.h38{height:38px;line-height:38px;font-size:14px;border-radius:2px}
.btn.h32{height:32px;line-height:32px;font-size:13px;border-radius:2px}
.btn.round{border-radius:20px}
.btn.line{background:#fff;border-color:#CCCCCC;color:#494F60}
.btn.line.ty2{background:#fff;border-color:#CCCCCC;color:#000}
.btn.line.blue{color:#476EFF;border-color:#476EFF}
.btn.line.disabled, .btn.line:disabled{background:#fff !important;border-color:#ddd !important;color:#ccc !important;cursor:default !important}
.btn.full{width:100%}
.btn.full + .btn.full{margin-top:8px}
.btn_link{display:inline-block;position:relative;font-size:14px;line-height:14px;color:#000;text-decoration:underline}
.btn_link.ty2{font-size:12px;line-height:12px}
.btn_link.arr{line-height:16px;text-decoration:none}
.btn_link.arr:after{display:inline-block;content:'';width:16px;height:16px;background:url(../images/common/ic_btn_arr.svg) no-repeat 0 0/16px;vertical-align:middle}
.btn_link.map{font-weight:700;text-decoration:none}
.btn_link.map:before{display:inline-block;content:'';width:12px;height:12px;margin-right:7px;background:url(../images/common/ic_btn_map.svg) no-repeat 0 -1px/12px;vertical-align:middle}
.btn_close{display:inline-block;position:absolute;top:50%;right:0;transform:translateY(-50%);width:24px;height:24px;background:url(../images/common/ic_close.svg) no-repeat 0 0}
.btn_del{display:none;position:absolute;top:50%;right:0;transform:translateY(-50%);width:20px;height:20px;background:url(../images/common/btn_del.svg) no-repeat 0 0/20px}
.btn_search{position:absolute;top:50%;right:0;transform:translateY(-50%);width:28px;height:28px;background:url(../images/common/btn_search.svg) no-repeat center/21px 22px}
.btn_count{display:inline-block;width:24px;height:24px;border:1px solid red}
.btn_count.minus{}
.btn_count.plus{}


/*table*/
.tbl{position:relative;border-top:1px solid #2C3548;}
.tbl table{width:100%;font-size:13px;word-break:break-all}
.tbl thead th{padding:14px 0;border:solid #eee;border-width:0 1px 1px 0;font-size:14px;line-height:20px;font-weight:700}
.tbl tbody th, .tbl tbody td{padding:15px 5px;border:solid #eee;border-width:0 1px 1px 0;font-size:13px;line-height:18px;text-align:center;word-break:break-all}
.tbl thead th:last-child, .tbl tbody tr td:last-child{border-right:0}
.tbl tbody tr:nth-child(2n-1) td{background:#F8F8F8}
.tbl.row tbody th{background:#f8f8f8}
.tbl.row tbody tr td{padding:15px 10px;background:#fff;text-align:left}

/*tab*/
.tab_wrap{background:#fff}
.tab_list{display:flex;align-items:flex-end;height:52px}
.tab_list >li{flex:1;text-align:center}
.tab_list >li > a{display:inline-block;position:relative;padding-bottom:4px;font-size:18px;line-height:26px;color:#888}
.tab_list >li.on > a{font-weight:900;color:#000 !important}
.tab_list >li.on > a:after{content:'';position:absolute;bottom:0;left:0;right:0;height:2px;background:#000}
.tab_list.ty2{height:41px;border-bottom:1px solid #eee}
.tab_list.ty2 > li > a{padding-bottom:9px;font-size:16px;line-height:22px;color:#666}
.tab_list.ty2 > li.on > a:after{left:50%;right:auto;bottom:-1px;transform:translateX(-50%);width:24px;height:3px}
.tab_cont{display:none}
.tab_cont.on{display:block}
.tab_seat > ul{display:flex;overflow-x:scroll;margin:0 -24px;padding:0 24px}
.tab_seat > ul > li + li{margin-left:12px}

/* form */
.form_area{}
.form_area + .form_area{}
.form_area > li{}

/* input */
.input_wrap{position:relative}
.input_wrap + .txt_alert{margin-top:5px}
.input {border-radius:0;width:100%;height:36px;padding:0 25px 6px 0;background-color:#fff;border:0;border-bottom:1px solid #eee;font-size:22px;line-height:30px;font-weight:500;color:#000}
.input::placeholder, .input:-ms-input-placeholder, .input::-ms-input-placeholder, .input::-moz-placeholder{color:#888 !important;font-size:22px;line-height:30px}
.input:focus, .input.focused  {padding-top:1px;border-bottom:2px solid #476EFF;outline:0}
.input.error, .input.error:focus {padding-top:1px;border-bottom:2px solid #dc3263;outline:0}
.input:disabled, .input:read-only {background:#f3f4f8;opacity:1;-webkit-text-fill-color:#111}
.input:read-only:focus{padding:0 25px 0 0;border-bottom:1px solid #eee}
.select{display:inline-block}
.select select{width:83px;padding:0 20px 0 0;font-size:20px;line-height:30px;background:url(../images/common/ic_sel_arrow.svg) no-repeat right center/20px;border:0;box-sizing:border-box;vertical-align:middle}
div.form_area{}
ul.form_area{}
ul.form_area > li{margin-top:22px}
.form_tit{font-size:14px;line-height:18px;color:#888}
.form_tit + .form_cont{margin-top:6px}
.form_cont{position:relative}
.form_cont.flex{display:flex;align-items:center}
.form_cont.flex .input_wrap{flex:1}
.form_cont.flex .input{font-size:16px;line-height:22px}
.form_cont.phone{border-bottom:1px solid #eee}
.form_cont.phone.focus{border-bottom:2px solid #476EFF}
.form_cont.phone.focus .input{padding-top:1px}
.form_cont.phone .select{position:absolute;top:0;left:0;z-index:1}
.form_cont.phone .input_wrap{padding-left:85px}
.form_cont.phone .input_wrap .input{border-bottom:0}
.form_cont .dash{margin:0 16px;color: #888;text-align:center;white-space:nowrap}


/* 약관 */
.agree_box{background:#fff}
.agree_box .checkall{position:relative}
.agree_box .agree_list{margin-top:16px;padding-top:32px;border-top:1px solid #ccc}
.agree_list > li + li{margin-top:12px}


/* .pop_term_wrap {color:#333}
.pop_term_wrap .tit_term {display:block;margin-bottom:20px;font-size:17px;font-weight:700;line-height:1.2;color:#111}
.pop_term_wrap p + .tit_term,.pop_term_wrap .list_terms + .tit_term{margin-top:30px}
.pop_term_wrap h3 {margin-bottom:13px;font-size:15px;font-weight:700;line-height:1.2;color:#111}
.pop_term_wrap p + h3,
.pop_term_wrap .list_terms + h3 {margin-top:24px}
.pop_term_wrap p + p,
.pop_term_wrap .list_terms + p {margin-top:5px;}
.pop_term_wrap p + .list_terms {margin-top:5px}
.pop_term_wrap .list_terms>li {padding-left:18px;font-size:14px;text-indent:-18px}
.pop_term_wrap .list_terms>li .list_terms{margin:5px 0}
.pop_term_wrap .list_terms.type2>li {padding-left:19px;font-size:13px;text-indent:-19px}
.pop_term_wrap .list_terms.type3>li{padding-left:10px;font-size:13px;text-indent:-10px}
.pop_term_wrap .list_terms.type4 {padding-left:17px}
.pop_term_wrap .list_terms.type4>li {list-style:decimal;padding-left:0;text-indent:0}
.pop_term_wrap .list_terms.type5>li {position:relative;padding-left:10px;text-indent:0;}
.pop_term_wrap .list_terms.type5>li:after {content:'';display:block;position:absolute;top:9px;left:0;width:3px;height:3px;background:#666;border-radius:50%;}
.pop_term_wrap .list_terms.type6>li {padding-left:17px;font-size:13px;text-indent:-17px}
.pop_term_wrap .list_terms.type7>li {padding-left:20px;font-size:13px;text-indent:-20px}
.pop_term_wrap table {overflow:hidden;table-layout:fixed;margin:10px 0;border-spacing:0px;border-collapse:collapse;border-top:2px solid #000;word-break:break-all;}
.pop_term_wrap table th,.pop_term_wrap table td {padding:5px 5px;border-left:1px solid #ddd;border-bottom:1px solid #ddd;;font-size:14px;color:#333;text-align:center;word-break:break-all;}
.pop_term_wrap table th:first-child,
.pop_term_wrap table td:first-child{border-left:0}
.pop_term_wrap table th {background-color: #f6f6f6;}
.pop_term_wrap table td.borl {border-left:1px solid #ddd}
.pop_term_wrap table .ta_l {text-align:left;}
.pop_term_wrap table .ta_c {text-align:center;}
.pop_term_wrap table .ta_r {text-align:right;}
.pop_term_wrap .tab_wrap.first {margin:-30px -16px 0;}
.pop_term_wrap .tab_cont {padding-top:30px}*/

/* 아코디언 */
.acco_list{position:relative}
.acco_list .acco_tit .tit{display:inline-block;font-size:16px;line-height:22px;vertical-align:middle}
.acco_list .acco_btn{display:inline-block;width:20px;height:20px;margin-left:6px;background:url(../images/common/btn_acco.svg) no-repeat center -1px/20px;vertical-align:middle;transition:transform .3s ease}
.acco_list .acco_btn.on{transform:rotate(180deg)}
.acco_list .acco_cont{display:none}
.acco_list .acco_cont .bdr_tbox{margin-top:20px;padding-top:20px;border-top:1px dashed #ccc}

/* complete_area */
.complete_area{margin-top:160px;text-align:center}
.complete_area .ico{margin-bottom:16px}
.complete_area .txt{font-size:14px;line-height:22px;color:#666}
.complete_area.middle{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%)}

/* popup */
body.pop_open{overflow:hidden}
.pop_wrap.is_visible{display:flex}
.pop_wrap{display:none;justify-content:center;align-items:center;position:fixed;top:0;left:0;bottom:0;right:0;z-index:50;background:rgba(0,0,0,0.7);transform:translateZ(0);transition:all .3s ease}
.pop_wrap.is_active .popup{opacity:1}
.pop_wrap .popup{display:flex;flex-direction:column;overflow:hidden;position:relative;width:100%;max-height:100%;background:#fff;transition:all .3s ease;box-sizing:border-box;opacity:0;transform:translateY(100%)}
.pop_wrap.is_active .popup{transform:translateY(0)}
.pop_wrap.full .popup{height:100%}
.pop_wrap.modal{align-items:flex-end}
.pop_wrap.modal .popup{border-radius:10px 10px 0 0}
.pop_wrap.modal .pop_head{padding:10px 35px}
.pop_wrap.modal .pop_head .pop_tit{font-size:18px}
.pop_wrap.alert{padding:0 15px}
.pop_wrap.alert .popup{border-radius:10px;text-align:center}
.pop_wrap.alert .pop_head{}
.pop_wrap.alert .pop_head .pop_tit{font-size:15px}
.pop_wrap.toast{align-items:flex-end;margin:0 15px 30px;background:transparent}
.pop_wrap.toast .popup{overflow:hidden;background:rgba(0,0,0,0.7);border-radius:9px}
.pop_wrap.toast .pop_cont{position:relative;padding:15px 0 14px;font-size:14px;text-align:center;color:#fff;white-space:nowrap}
.pop_wrap .pop_head{position:relative;padding:17px 35px;box-shadow:0 4px 8px rgb(0 0 0 / 7%);}
.pop_wrap .pop_head .pop_tit{line-height:1.2;text-align:center}
.pop_wrap .pop_cont{flex:1 1 auto;overflow:hidden auto;padding:24px 24px 16px}
.pop_wrap .pop_btn{padding:16px 16px}
.pop_wrap .pop_btn .btn{}
.pop_wrap .btn_close{}
.tooltip_area{display:inline-block;vertical-align:middle;line-height:1.2;}
.tooltip_area .btn_tooltip{display:inline-block;width:14px;height:14px;background:url(../images/common/ic_tooltip.svg) no-repeat 0 0/14px;}
.tooltip_area .tooltip_cont{display:none;position:absolute;z-index:10;max-width:216px;margin-top:12px;margin-left:5px;padding:16px 34px 16px 16px;background:#3D4964;border-radius:0 8px 8px;box-shadow:5px 6px 12px rgb(0 0 0 / 3%);transition:all .3s ease;opacity:0}
.tooltip_area .tooltip_cont:before{content:'';position:absolute;top:-7px;left:0;width:9px;height:7px;background:url(../images/common/ic_bg_tooltip.svg) no-repeat 0 0/9px 7px;}
.tooltip_area .tooltip_cont > p{font-size:12px;line-height:16px;color:#fff}
.tooltip_area .btn_close{position:absolute;top:12px;right:12px;transform:translateY(0);width:16px;height:16px;background:url(../images/common/ic_tooltip_close.svg) no-repeat center/10px}
.tooltip_area.visible .tooltip_cont{display:block}
.tooltip_area.act .tooltip_cont{opacity:1}

/* text */
.txt_alert{font-size:14px;line-height:20px}
.txt_alert:before{display:inline-block;content:'';width:16px;height:16px;margin-right:10px;background:url(../images/common/ic_txtalert_red.svg) no-repeat center/14px;vertical-align:middle}
.txt_alert.red{color:#DA1D1D}
.txt_alert.red:before{background:url(../images/common/ic_txtalert_red.svg) no-repeat center/14px;}

/* header */
#header{position:fixed;top:0;left:0;z-index:20;width:100%;background:#fff;/*box-shadow:0 5px 6px -2px rgb(0 0 0 / 7%)*/}
#header .inner {position:relative;width:100%;height:56px;padding:0;text-align:center;box-sizing:border-box}
#header .title {height:56px;font-size:18px;font-weight:900;line-height:58px;text-align:center}
#header .btn_back {position:absolute;top:50%;left:22px;width:24px;height:24px;transform:translateY(-50%);background:url(../images/common/btn_back.svg) no-repeat 0 50% / 24px 24px;font-size:1px;color:transparent;z-index:10;overflow:hidden}
#header .btn_close {position:absolute;top:50%;right:19px;width:24px;height:24px;transform:translateY(-50%);background:url(../images/common/btn_close.svg) no-repeat 0 50% / 24px 24px;font-size:1px;color:transparent;z-index:10;overflow:hidden}

/*contents*/
#wrap{min-height:100vh;box-sizing:border-box}
#container{position:relative;min-height:100vh;height:100%;padding:56px 0 80px;box-sizing:border-box}
#contents{position:relative;height:100%}

/*layout*/
.inner{position:relative;width:100%;padding:0 24px;box-sizing:border-box}
.inner2{padding:32px 24px 24px}
.inner3{padding:32px 16px 24px}
.inner.pt0{padding-top:0}

/* title */
[class*=tit_h]{position:relative}
div[class*=tit_h]{display:flex;justify-content:space-between;align-items:center}
/* .tit_h3{margin-top:35px} */
.tit_h3:not(div), div.tit_h3 .tit{font-size:20px;line-height:28px;color:#000}
.unit .price{font-size:13px;color:#767676}


@media only screen and (max-width:320px){
    
}
/* @media only screen and (min-width:765px){
    
}
@media only screen and (min-width:1025px){
    .m_none{display:block}
    .w_none{display:none}

    #skipNavi {display:block}
} */